# SPDX-FileCopyrightText: 2026 Janier Rodríguez <jrodriguez@virtualcable.es>
#
# SPDX-License-Identifier: Apache-2.0

/target
/result
/result-*
__pycache__/
*.pyc
/tools/fuzz/target
/tools/fuzz/corpus/*/.tmp*
